.wrapper {
	width: 300px;
	height: 100%;
	padding: 15px;
	flex: 0 0 auto;
	background-color: rgb(87, 86, 86);
}

.row {
	background-color: white;
	width: 280px;
	padding: 10px;
	height: 100px;
	margin: auto;
	display: flex;
	flex-direction: column;
}
.body {

}

.toolBar {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
	align-content: flex-end;
	padding: 2px;
	margin-bottom: 5px;
	border-bottom: 1px solid black;
}